body{
    background-image: url(./tic-tac-toe.png);
    background-size: 50%;
}


.intro-header{
  margin-top:10px;
  padding-bottom: 100px;
}
.enter-header{
  margin-top:auto;
}

.container1{
    background-color: aliceblue;
    padding: 25px;
    margin:auto;
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: center;
    border: 5px solid black;
    transform: translate(0, 45%);
}

.button4-div{
  padding-top: 70px;
  padding-bottom: 35px;
}

.button-4 {
    appearance: none;
    background-color: #747892;
    border: 5px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    padding: 9px 15px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    top:25px;
  }
  
  .button-4::before:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .button-4:hover {
    background-color: #41484c;
  }
  
  .button-4:focus {
    box-shadow: rgba(206, 242, 255, 0.4) 0 0 0 3px;
    outline: none;
  }
  
  .button-4:disabled {
    background-color: #719ba9;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }

  .container{
    padding: 20px;
    margin:auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    align-items: center;
}


table td{
    background-color: white;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    text-align: center;
    font-size:35px;
}

.winnertext{
    font-size:25px;
}

.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 25px;
  font-weight: 600;
  line-height: 20px;
  padding: 11px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
  

  .main-div{
    position: absolute;
    width: 100%;
    height: 100%;
    background-Color: #D3D3D3;
    display: flex;
    align-Items: center;
  }

  .chat-container{
    height:90%;
  }

  .chat-grid{
    height:100%;
  }

  .grid-item{
    background-Color: grey; 
    color: white;
  }

  .list-item-text{
    font-weight: 800;
  }

  .grid-style{
    position:relative;
  }

  .paper-style{
   
    flex:1;
  }

  .ul{
    font-size: 18px;
    list-style-type: none;
  }

  .li{
    padding-bottom: 9;
  }

  .bottom-grid{
    padding-left:25px;
    padding-bottom: 15px;
    margin:20px;
  }

  .input-chat{
    height:30px;
  }



